<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Entity.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>EntityTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Repository.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>RepositoryTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>SwiftUIToDoExample.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SwiftUIToDoExampleTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SwiftUIToDoExampleUITests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>763CD68028D2AE4500A011CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>763CD68928D2AE4500A011CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>774C972428D2A78D00C530CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>774C973428D2A78F00C530CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>774C973E28D2A78F00C530CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>774C976028D2A86400C530CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>774C976928D2A86400C530CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
